.about {
    background-image: url(../../img/backAbout.png);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.test{
    height: 330px;
    margin-bottom: 100px;
    background-image: url(../../img/backTest.png);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    &_info{
        height: 150px;
        max-width: 350px;
        border-left: 1px solid black;
        &_text{
            border-top: 1px solid black;
            margin: 30px 0 0 80px;
            padding-top: 50px;
            font-size: 20px;
            color: #5F5C53;
        }
    }
}

.btn_test{
    background-image: url(../../img/buttonTest.png);
    background-size: cover;
    width: 250px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5F5C53;
    font-size: 24px;
    text-decoration: none;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes example {
    0% {transform: scale(1.1);}
    50% {transform: scale(1);}
    100% {transform: scale(1.1);}
}


@media screen and (max-width: 1000px) {
    .about{
        background-image: none;
        margin: 50px 0;
    }
    .test{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 700px) {
    .about{
        background-image: none;
        margin: 20px 0;
    }
    .test{
        margin: 0px 20px 20px 20px;
/*         margin-left: 10px;
        margin-bottom: 20px; */
        background-image: none;
        &_info{
            &_text{
                margin: 30px 0 0 30px;
            }
        }
    }
}
