
.after {
    margin-bottom: 100px;
    &_container {
        /* @include flex_center(); */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(../../../img/backFace.png);
        background-size: 100%;
        background-repeat: no-repeat;
        .after_slider{
            margin-right: 200px;
        }
    }
}


@media screen and (max-width: 900px) {
    .after{
        margin-bottom: 70px;
        &_container {
            background-image: none;
            .after_slider{
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .after{
        margin-bottom: 40px;
        &_container {
            .after_slider{
                width: 400px !important;
                height: 400px !important;
            }
        }
    }
    .styles_after__OMQap{
        width: 400px !important;
        height: 400px !important;
    }
}

@media screen and (max-width: 450px) {
    .after{
        margin-bottom: 30px;
        &_container {
            .after_slider{
                width: 300px !important;
                height: 300px !important;
            }
        }
    }
    .styles_after__OMQap{
        width: 300px !important;
        height: 300px !important;
    }
}