$color: #5F5C53;


.btn_sumbit{
    cursor: pointer;
    margin: 40px 0;
    margin-left: 26%;
    width: max-content;
    height: 60px;
    text-align: center;
    border: 1px solid $color;
    padding: 0 60px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: $color;
    background-color: transparent;
    background-image: linear-gradient(to left,transparent,transparent 50%, $color 50%, $color);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
    &:hover {
        background-position: 0 0;
        color: white;
    }
}

.quest{
    font-size: 16px;
    font-weight: 600;
    color: $color;
}

.answer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    input{
        cursor: pointer;
        margin-right: 20px;
    }
    p{
        font-size: 16px;
        color: $color;
    }
}

.result{
    font-size: 16px;
    line-height: 24px;
    color: $color;
}

span{
    font-weight: 600;
}

@media screen and (max-width: 800px) {
    .btn_sumbit{
        margin-left: 0;
    }
}